.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.cycle-slideshow { width: 100%; min-width: 200px; margin: auto; padding: 0; }

/* anchors */
.cycle-slideshow > a { 
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; display: block;
}

/* images */
.cycle-slideshow > a > img { 
    width: 100%;
    position: static;
    display: block;
}

/* divs */
.cycle-slideshow > div { 
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0;
}

.composite-example > div { background: white }
.composite-example > div > img { display: block; }
.composite-example > div .cycle-overlay { 
    color: white; background: black; opacity: .6; filter:alpha(opacity=60);
    position: absolute; bottom: 0; width: 100%; padding: 15px;
}

.cycle-slide p { margin: 0; padding: 10px }

#outside .cycle-slideshow { width: 300px }
#prev, #next, .prevControl, .nextControl { cursor: pointer; font-size: 16px; color: #08C }

/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 10%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(../images/prevbtn.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(../images/nextbtn.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

.disabled { opacity: .5; filter:alpha(opacity=50); }