body {
	background: #E6E7E8;
	padding: 0;
	margin: 0;
	font-family: 'Arial';
} 

img {
	border: none;
}

ul {
	list-style: none outside;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

#navigation {
	width: 980px;
	margin: auto;
	padding-bottom: 40px;
}

.logo {
	margin: 43px 0;
	float: left;
}

.contest-btn {
	float: left;
	margin: 40px;
}

.contest-btn a {
	display: inline-block;
	/*margin: 5px 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;*/
	cursor: pointer;
	/*background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;*/
	-webkit-transition-delay:2s;
	transition-delay:2s;
	width: 380px;
	background: url(images/contest-btn.jpg) no-repeat;
	text-indent: -99999px;
	height: 70px;
	border-bottom: 5px solid #0E5570;
	border-radius: 4px;
}

.language {
	float: right;
	margin-top: 70px;
	color: #939598;
}

.language a {
	color: #000;
	font-size: 10pt; 
}

.language a.active, .language a:hover {
	color: #1992D0;
}

.top-nav li, .btm-nav li {
	display: inline;
	float: left;
	position: relative;
	background: #fff;
	z-index: 1;
	margin: 0 75px;
	text-align: center;
	font-size: 15pt;
	border: 1px solid #999999;
	-webkit-box-shadow: rgba(0,0,0,.15) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,.15) 0 1px 3px;
	box-shadow: rgba(0,0,0,.15) 0 1px 3px;
	box-shadow: rgba(0,0,0,.15) 0 1px 6px url(0/IE9);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-family: 'SansationRegular';
	transition-property:all 0.5s ease 0s;
	/* Safari */
	-webkit-transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
}

.top-nav #menu-item-11, .btm-nav #menu-item-118  {
	margin-left: 0;
}

.top-nav #menu-item-19, .btm-nav #menu-item-120 {
	float: right;
	margin-right: 0;
}

.top-nav li:after, .btm-nav li:after {
	content: '';
	width: 212px;
	height: 10px;
	display: block;
	position: absolute;
	left: 0;
	bottom: -11px;
	background: url(images/nav-after.png) no-repeat;
}

.top-nav a, .btm-nav a {
	width: 220px;
	padding: 80px 0 10px;
	color: #3B3B3B;
	transition-property:all 0.5s ease 0s;
	/* Safari */
	-webkit-transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
	display: block;
}


.top-nav #menu-item-11 a {
	background: url(images/news.png) 75px 15px no-repeat ;
}

.top-nav #menu-item-11 a:hover, .top-nav #menu-item-11.current_page_item a, .top-nav #menu-item-11.current-page-ancestor a  {
	background: url(images/newshover.png) 75px 15px no-repeat #064065;
	color: #fff;
}

.top-nav #menu-item-20 a {
	background: url(images/100.png) 75px 15px no-repeat;
}

.top-nav #menu-item-20 a:hover, .top-nav #menu-item-20.current_page_item a, .top-nav #menu-item-20.current-page-ancestor a {
	background: url(images/100hover.png) 75px 15px no-repeat #064065;
	color: #fff;
}

.top-nav #menu-item-19 a {
	background: url(images/achieve.png) 75px 15px no-repeat;
}

.top-nav #menu-item-19 a:hover, .top-nav #menu-item-19.current_page_item a, .top-nav #menu-item-19.current-page-ancestor a {
	background: url(images/achievehover.png) 75px 15px no-repeat #064065;
	color: #fff;
}

#slider:after {
	content: '';
	width: 980px;
	height: 16px;
	position: relative;
	display: block;
	background: url(images/slidershadow.png) no-repeat;
	z-index: 101;
	bottom: 13px;
}

#slider {
	width: 940px;
	margin: auto;
	padding: 0;
}

#content, #header {
	width: 980px;
	margin: auto;
	padding: 0;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}




.btm-nav {
	padding: 40px 0;
}




.btm-nav #menu-item-118 a {
	background: url(images/video.png) 75px 15px no-repeat ;
	padding-bottom: 33px
}

.btm-nav #menu-item-118 a:hover, .btm-nav #menu-item-118.current_page_item a, .btm-nav #menu-item-118.current-page-ancestor a {
	background: url(images/videohover.png) 75px 15px no-repeat #064065;
	color: #fff;
}

.btm-nav #menu-item-119 a {
	background: url(images/press.png) 75px 15px no-repeat;
	padding-bottom: 33px
}

.btm-nav #menu-item-119 a:hover, .btm-nav #menu-item-119.current_page_item a, .btm-nav #menu-item-119.current-page-ancestor a {
	background: url(images/press-hover.png) 75px 15px no-repeat #064065;
	color: #fff;
}

.btm-nav #menu-item-120 a {
	background: url(images/MEB.png) 75px 15px no-repeat;
}

.btm-nav #menu-item-120 a:hover, .btm-nav #menu-item-120.current-page-item a, .btm-nav #menu-item-120.current-page-ancestor a {
	background: url(images/MEBhover.png) 75px 15px no-repeat #064065;
	color: #fff;
}

#icon {
	width: 95px;
	margin: auto;
	padding-bottom: 20px;
}

#btm-wrapper {
	width: 100%;
	background-color: #2F2F2F;
	padding-bottom: 20px
}

#footer:before {
	content: '';
	width: 980px;
	height: 30px;
	position: relative;
	display: block;
	background: url(images/footerb4.png) no-repeat;
	bottom: 4px
}

#footer {
	width: 980px;
	margin: auto;
	overflow: hidden;
	text-align: center;
	color: #DEE3E9;
	font-size: 10pt;
}

#footer ul {
	padding: 20px 0;
}

#footer ul li {
	display: inline-block;
	margin: 0 15px;
}

#footer ul li a {
	color: #DEE3E9;
}

#content:after {
	content: '';
	width: 980px;
	height: 41px;
	position: relative;
	display: block;
	background: url(images/shadow.png) no-repeat;
	z-index: -1;
	bottom: 10px;
}

#news {
	width:940px;
	margin: auto;
	padding: 25px 0;
	background: #fff;
}

#news h2 {
	color: #064065;
	font-family: 'SansationBold';
	margin: 20px;
	font-weight: normal;
}

#news h3 {
	color: #fff;
	background: #2e3191; /* Old browsers */
	background: -moz-linear-gradient(left,  #2e3191 0%, #151b68 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2e3191), color-stop(100%,#151b68)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #2e3191 0%,#151b68 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #2e3191 0%,#151b68 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #2e3191 0%,#151b68 100%); /* IE10+ */
	background: linear-gradient(to right,  #2e3191 0%,#151b68 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3191', endColorstr='#151b68',GradientType=1 ); /* IE6-9 */	
	margin: 0 0 0 -20px;
	padding: 0 40px;
	line-height: 2.8;
	position: relative;
}

#news h3:before {
	content: '';
	width: 20px;
	height: 15px;
	position: absolute;	
	display: block;
	background: url(images/corner.png) no-repeat left;
	margin: -15px 0px 0px -40px;
}

.video-container {
	width: 870px;
	margin: 10px auto;
}

.column1, .column2, .column3 {
	width: 270px;
	display: inline-block;
	padding: 20px;
	vertical-align: top;
}

.img-column1, .img-column2, .img-column3, .img-column4, .img-column5 {
	width: 150px;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}

.column1, .column2 {
	-webkit-box-shadow: 5px -3px 5px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    5px -3px 5px rgba(50, 50, 50, 0.2);
	box-shadow:         5px -3px 5px rgba(50, 50, 50, 0.2);
}

.title {
	color: #0D5D8B;
	font-family: 'SansationBold';
	font-size: 18pt;
}

.images {
	text-align: center;
}

.content {
	font-size: 10pt;
}

.img-column1 a, .img-column2 a, .img-column3 a, .img-column4 a, .img-column5 a {
	display: block;
	margin-bottom: 20px;
	height: 100px;
	font-family: 'SansationRegular';
	font-size: 12pt;
	color: #fff;
	text-align: center;
	position: relative;
}


.img-column1 span, .img-column2 span, .img-column3 span, .img-column4 span, .img-column5 span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */

}

.img-column1 a:hover, .img-column2 a:hover, .img-column3 a:hover, .img-column4 a:hover, .img-column5 a:hover {
	color: #999;
	transition-property:all 0.5s ease 0s;
	/* Safari */
	-webkit-transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
}

#news nav {
	background: #2e3191; /* Old browsers */
	background: -moz-linear-gradient(left,  #2e3191 0%, #151b68 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2e3191), color-stop(100%,#151b68)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #2e3191 0%,#151b68 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #2e3191 0%,#151b68 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #2e3191 0%,#151b68 100%); /* IE10+ */
	background: linear-gradient(to right,  #2e3191 0%,#151b68 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3191', endColorstr='#151b68',GradientType=1 ); /* IE6-9 */
	margin: 0 0 0 -20px;
	padding: 0 40px;
	line-height: 2.8;
	position: relative;
	font-family: 'SansationRegular';
}

#news nav:before {
	content: '';
	width: 20px;
	height: 15px;
	position: absolute;	
	display: block;
	background: url(images/corner.png) no-repeat left;
	margin: -15px 0px 0px -40px;
}

#news nav a {
	margin: 0 5px;
	color: #999;
}

#news nav li {
	display: inline-block;
}

#news nav a:first-child {
	margin-left: 0;
}

#news nav a:last-child {
	margin-right: 0;
}

#news nav a:hover {
	transition-property:all 0.2s ease 0s;
	/* Safari */
	-webkit-transition:all 0.2s ease 0s;
	-moz-transition:all 0.2s ease 0s;
}

#content-wrapper {
	line-height: 1.5;
	overflow: hidden;
	width: 900px;
	padding: 0 20px;
}

.left, .right {
	width: 400px;
	margin: 0 20px;
	font-size: 10pt; 
	color: #3b3b3b;
}

.left, .left-a  {
	float: left;
}

.right {
	float: right;
	border: 1px solid #3b3b3b;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 417px;
	background: url(images/image4.png) no-repeat bottom center;
}

.bigtitle {
	font-family: 'SansationBold';
	font-size: 28pt;
	margin-top: 30px;
}

.right h3, .right-a h3, .left-a h3 {
	font-family: 'SansationBold';
	color: #fff;
}

.right p{
	padding: 0 20px;
}

.right ul {
	list-style: square;
	padding: 0 40px;
}

.right table {
	margin: 0 20px;
	text-align: center;
}

.right table td {
	padding: 5px;
}

.right div {
	margin: 10px;
	padding: 10px 0 20px 0;
	background: #DEE3E9;
}

.right-a {
	float: right;
}

.right-a, .left-a {
	border: 1px solid #3b3b3b;
	margin-top: 30px;
	padding-top: 20px;
}

.left-a, .right-a {
	width: 310px;
	margin: 0 20px;
	font-size: 10pt; 
	color: #3b3b3b;
}

#high-in {
	font-size: 10pt; 
	margin-bottom: 40px;
	width: 720px;
	margin: auto;
}

.qna-wrapper {
	margin-bottom: 3em;
}


/* Changes */
#news h4 a, .entry-title {
	color: #0D5D8B;
	font-family: 'SansationBold';
	font-size: 18pt;
	font-weight: normal;
}

#news p {
	font-family: 'Helvetica';
	font-size: 10pt;
}

#news p a {
	color: #0D5D8B;
}

#news article {
	border-bottom: 1px dotted #ccc;
}


/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

li.current-menu-item a, li.current-menu-item a:hover {
	color: #fff!important;
}

#menu-item-72 a:hover, #menu-item-72.current_page_item a, #menu-item-73 a:hover, #menu-item-73.current_page_item a, #menu-item-518 a:hover, #menu-item-518.current_page_item a, #menu-item-608 a:hover, #menu-item-608.current_page_item a, #menu-item-639 a:hover, #menu-item-639.current_page_item a {
	color: #fff;
}

#menu-item-230 a:hover, #menu-item-230.current_page_item a, #menu-item-234 a:hover, #menu-item-234.current_page_item a, #menu-item-312 a:hover, #menu-item-312.current_page_item a, #menu-item-350 a:hover, #menu-item-350.current_page_item a, #menu-item-351 a:hover, #menu-item-351.current_page_item a, #menu-item-687 a:hover, #menu-item-687.current_page_item a {
	color: #fff;
}

#content-wrapper footer {
    display: none;
}

article a {
	color: #0000FF;
}

.view-more {
	font-size: 10pt;
	color: #3b5998;
	font-weight: bold;
}

.entry-meta, .entry-meta a {
	font-size: 10pt;
	color: #999;
}

a[href$='.pdf'] {
padding: 5px 20px 5px 0;
background: transparent url(images/icon_pdf.gif) no-repeat center right;
}

table.blueprint-table {
	border: 1px solid #3b3b3b;
	width: 100%;
	text-align: left;
}

.blueprint-table th {
	background-color: #2e3191;
	color: #fff;
	font-family: 'SansationBold';
}

.blueprint-table td {
	font-size: 10pt;
}


/* Pagination */	
	
.navigation ul {
	margin: 20px 0 10px;
	width: 100%;
	padding: 0;
	font-size: 12px;
	line-height: normal;
	clear: both;
	float: left;
	}
    
    .navigation li {
    	float: left;
    	}

.navigation ul a,
ul.page-numbers span {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#E4E3E3), to(#FFFFFF));
	background: -moz-linear-gradient(top,  #E4E3E3,  #FFFFFF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E4E3E3', endColorstr='#FFFFFF');
	padding: 3px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #ccc;
	color: #666;
	}

.navigation ul a:hover,
.navigation li.active a {	
	border: 1px solid #666;
	color: #444;
	}

/* Contest page */
#contest-page {
	font-family: 'Source Sans Pro', sans-serif; 
}

.top-wrap, .step-wrap {
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.top-wrap h1 {
	margin: 0;
	font-size: 80px;
	letter-spacing:-3px;
	font-weight: 900;
	text-align: right;
	color: #94688D;
}

.top-wrap h2 {
	margin: 0;
	font-size: 55px;
	letter-spacing:-3px;
	font-weight: 600;
	margin-top: -20px;
	text-align: right;
	color: #58595B;
}

.text-wrap {
	float: left;
}

.image-box {
	float: right;
	background: url(images/iphone.png) no-repeat top;
	width: 397px;
	height: 300px;
	position: relative;
}

.image-box span {
	position: absolute;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	bottom: 20px;
	right: 0;
	font-size: 40px;
	color: #F9EC31;
}

#social-gallery {
	min-height: 200px;
	margin-top: -130px;
	background-color: #13779E;
}

#step-by-step {
	padding-bottom: 40px;
	overflow: hidden;
}

.step-title {
	text-align: center;
	margin: 20px 0;
}

.step-title:before {
	border-top: 2px solid #94688D;
	content: '';
	position: relative;
	display: block;
	top: 40px;
}

.step-title h2 {
	background-color: #e2e2e2;
	display: inline-block;
	padding: 0 20px;
	position: relative;
	font-size: 48px;
	font-weight: 600;
	margin: 10px 0;
	color: #13779E;
}

.step-wrap > div {
	display: inline-block;
	text-align: center;
	width: 260px;
	vertical-align: top;
	padding-bottom: 40px;
}

.step-wrap > div:nth-child(2) {
	margin: 0 50px;
}

.circle {
	font-size: 60px;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	background-color: #13779E;
	color: #fff;
	margin: auto;
}

.small-title {
	font-size: 30px;
	font-weight: 900;
	color: #A26780;
	text-transform: uppercase;
}

.step-detail {
	font-size: 20px;
	color: #231F20;
}
.step-detail > div {
	margin-top: 5px;
}
.step-detail span {
	position: relative;
	top: -5px;
}

i.fa {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	color: #fff;
	position: relative;
	font-size: 14px;
}

i.fa-instagram {
	background-color: #326699;
}
i.fa-twitter {
	background-color: #29A7DF;
}
i.fa-envelope {
	background-color: #CC3731;
}

i.fa:before {
	top: 25%;
	left: 25%;
	position: absolute;
}

#contest-prize {
	width: 700px;
	margin: auto;
	background: url(images/ipad.png) no-repeat left top;
}

#contest-prize > .step-detail, #contest-prize > .small-title {
	margin-left: 180px;
}

#warning {
	font-size: 12px;
	font-style: italic;
}

#tnc {
	background-color: #13779E;
}

.tnc-title {
	text-align: center;
}

.tnc-title:before {
	border-top: 2px solid #fff;
	content: '';
	position: relative;
	display: block;
	top: 40px;
}

.tnc-title h2 {
	background-color: #13779E;
	display: inline-block;
	padding: 0 20px;
	position: relative;
	font-size: 48px;
	font-weight: 600;
	margin: 10px 0;
	color: #fff;
}

.tnc-detail {
	font-size: 11px;
	color: #fff;
	width: 980px;
	margin: auto;
	line-height: 2;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.tnc-detail ul {
	list-style-type: disc;
	-webkit-padding-start: 40px;
}

#gallery-title {
	width: 980px;
	margin: auto;
	padding-top: 70px;
	font-size: 48px;
	font-weight: 600;
	color: #fff;
}

#gallery-wrap {
	width: 80%;
	margin: 20px auto;
	padding-bottom: 40px;
	text-align: center;
}

.img-feed {
	display: inline-block;
	margin: 5px;
	border:	5px solid #fff;
	position: relative;
}

.img-feed i.fa {
	display: block;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.right-nav {
	position: absolute;
	right: 5%;
	top: 50%;
	bottom: 50%;
}

.right-nav i, .left-nav i {
	font-size: 36px;
}

.left-nav {
	position: absolute;
	left: 5%;
	top: 50%;
	bottom: 50%;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('images/icon_top.png') no-repeat;
}